.text-primary {
    color: #4672ec91; /* Blue */
}

.text-secondary {
    color: #f1f1f1; /* Gray */
}

.text-link {
    color: #f500edc8; /* Orange */
}

.text-skills {
    color: #ebe7e789; /* Light gray */
}
